@import "./base.css";
body {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
}
#app {
  width: 100%;
  font-weight: normal;
}
#spa {
  display: grid;
  width: 100%;
  grid-template-areas:
    "head head"
    "main main";
}
#spa > header {
  grid-area: head;
  background-color: var(--color-background);
  border-bottom: 1px solid var(--color-primary);
}
#spa > main {
  grid-area: main;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  padding: 1rem;
}

.row {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 700px) {
  .container {
    max-width: 1400px;
  }
  .col-6-xl {
    width: 50%;
    margin: 0 auto;
  }
  .row {
    flex-direction: row;
  }
}

.message {
  color: var(--color-primary);
  font-size: 1rem;
  font-weight: 600;
}
